.header_style{
    width:100%;
    height:200px;
    margin:auto;
    background-color: rgb(93, 97, 110);
    color: rgb(255, 255, 255);
    position:relative;
    /*min-height: 180px; /* Ensure header is visible even with absolutely positioned children */
}
.header_style h1{
    position:absolute;
    text-align: right;
    top:10px;
    right:0px;
    font-size: 50px;
    margin-right: 20px;
    margin-bottom: 0px;
}
.header_style h2{
    position:absolute;
    text-align: right;
    top:100px;
    right:6px;
    font-size: 40px;
    margin-top: 0px;
}
.header_style h3{
    position:absolute;
    text-align: right;
    top:125px;
    right:20px;
    font-size: 25px;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    /* padding-bottom: 500px; Spatiu adaugat sa pot da scroll */
}

.job_banner{ /*vertical purple box*/
    background-color: rgb(225, 214, 235);
    height: 200%;
    width: 32%; /*Adjust after i add progress bars/or  in the same time with progress bar*/
    position: absolute;
    top: 0;
    left: 50px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.profile_pic{
    width: 90%;
    /* Make the picture round */
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: 50%;
    display: block;
    margin: 10px auto 5px auto;

}
/* left box */
h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.education, .skills, .contact{
    padding: 2%;
    margin:5%;
    word-spacing: 1%;
    font-size: 14px;
    /* border: 5px solid rgb(110, 105, 93); */

}

.progress-bar{
    width: 50%;
    height: 10px;
    /* background-color: rgb(200, 200, 200); */
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.right-box{
    float:right;
    width:60%;/*Adjust after i add progress bars/or  in the same time with progress bar AFTER I ADJUST THE LEFT BOX*/
}